.header{

	height: 100px;
	background-color: green;
}
.container{
	overflow: hidden;
}
.blog{
	height: 150px;
	background-color: black;
	width: 30px,
	float: left;
}
.contact{
	height: 150px;
	background-color: red;
	width: 65%;
	float: right;
}
	.wrapper{
		overflow: hidden;
	}
	.single{
height: 100px;
width:30%
float: lefr;
	}
.green{
background-color: green;
}
.blue{
background-color: blue;
}
.yellow{
	background-color: yellow;
}
.footer{
	height: 100px;
	background-color: teal;
}